html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


a:not(.title a, .nodim){
  opacity: .7;
  transition: .1s;
}

a:not(.title a, .nodim):hover {
  opacity: .5;
}

* {
  box-sizing: border-box;
}