html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.click {
  cursor: pointer;
}

.autolinker {
  transition: .2s;
  color: hsl(284, 39%, 65%)
}

.autolinker:hover {
  color: #9E5DB9
}

.oneliner .mantine-Text-root {
  max-height: 1.6em;
  overflow: hidden;
  display: -webkit-inline;
  text-overflow: ellipsis;
  transition: .5s;
}

.oneliner:hover .mantine-Text-root {
  max-height: 8em;
}